<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tiktok-lookup</string>

  <key>ProgramArguments</key>
  <array>
    <string>{{UV_PATH}}</string>
    <string>run</string>
    <string>{{BOT_PY}}</string>
  </array>

  <key>WorkingDirectory</key>
  <string>{{PROJECT_DIR}}</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/tiktok-lookup.log</string>

  <key>StandardErrorPath</key>
  <string>/tmp/tiktok-lookup.err</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
